.timer-container {
    min-width: 150px;
    width: 100%;
    padding: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.timer-container.warning {
    animation: warning-anim 1s infinite;
}

.timer-container.shake {
    animation: anim-shake 0.5s ease-in-out 3;
    background-color: var(--shake-color);
}

/* ## Timer Display  */
.timer-display {
    font-weight: bold;
}

.timer-display.disabled {
    opacity: 0.5;
}

.timer-display .row {
    display: flex;
}

.timer-display .expert {
    font-weight: bold;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}
.timer-display .edit .hh,
.timer-display .edit .mm,
.timer-display .edit .ss,
.timer-display .edit .colon {
    font-size: 2.5em;
    line-height: .8em;
    cursor: default;
    text-align: left;
}

.timer-display .expert .hh,
.timer-display .expert .mm,
.timer-display .expert .ss,
.timer-display .expert .colon
{
    cursor: default;
    font-size: 6.5em;
    line-height: .8em;
    text-align: left;
}
.timer-display .expert .colon
 {
    font-size: 4.8em;
    margin-left: -16px;
    color: var(--text-color)
}

.timer-display .expert .hh {
    color: #ff9900;
    opacity: 1;
}
.timer-display .expert .mm {
    color: #ff9900;
    opacity: 0.7;
}
.timer-display .expert .ss {
    color: #ff9900;
    opacity: 0.5;
}

.timer-display .expert-mode .row {
    display: flex;
    justify-content: space-between;

}

/* ## Timer controls  */

.timer-controls, .timer-display, .input-container, .buttons-container {
    width: 100%;
}

.timer-controls {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    width: -webkit-fill-available;
    min-width: 140px;
    margin-bottom: 5px;
}

.input-container .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.input-container .row .input-label,
.input-container .row  input[type="number"],
.input-container .row .theme-btn {
    min-width: 65px;
    padding-left: 4px;
    width: -webkit-fill-available;
}

.input-container .row .input-label {
    font-size: .7em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 12px;
    opacity: 0.7;
}

.input-container input[type="number"] {
    font-size: 1em;
    text-align: center;
    padding: 6px 0;
}
button.mode-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    min-width: 140px;
    margin: 4px 0;
}

@media (max-width: 151px) {
    .buttons-container button.start-button {
        margin-right: 0!important;
    }
}

.buttons-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70px;
}
button {
    min-width: 70px;
    width: 100%;
    padding: 5px;
    font-family: 'Press Start 2P', monospace;
    cursor: pointer; 
}
.buttons-container button.reset {
    background-color: rgb(246, 142, 142);
}


.buttons-container button.start::before,
.buttons-container button.play::before,
.buttons-container button.pause::before,
.buttons-container button.resume::before,
.buttons-container button.reset::before {
    margin-right: 5px;
}

.buttons-container button.start::before,
.buttons-container button.play::before,
.buttons-container button.resume::before  {
    content: url('assets/play.png');
}
.buttons-container button.pause::before{
    content: url('assets/pause.png');
}
.buttons-container button.reset::before {
    content: url('assets/reset.png');
}

.buttons-container button.start-button {
    background-color: var(--button-bg-color);
    margin-right: 8px;
}

.colon.blink {
    animation: anim-blink 1s step-end infinite;
}

/* Blinking colon effect */
@keyframes anim-blink {
    50% {
        opacity: 0;
    }
}

/* Shaking effect */
@keyframes anim-shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(10px);
        transform: translateY(10px);
    }
    30% {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }
    40% {
        transform: translateX(10px);
        transform: translateY(10px);
    }
    50% {
        transform: translateX(20px);
        transform: translateY(20px);
    }
    60% {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }
    70% {
        transform: translateX(10px);
        transform: translateY(10px);
    }
    80% {
        transform: translateX(-10px);
    }
    90% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}

@keyframes warning-anim {
    0% { background-color: var(--background-color); }
    50% { background-color: var(--warning-color); }
    100% { background-color: var(--background-color); }
}