/* Define CSS variables for default theme */
:root {
  --background-color: white;
  --text-color: black;
  --warning-color: yellow;
  --shake-color: red;
  --button-bg-color: #43e836;
  --button-text-color: black;
  --text-expert-color: #000715;
}

/* Define CSS variables for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
      --background-color: #121212;
      --text-color: white;
      --button-text-color: white;
      --text-expert-color: #ff9900;
  }
}

body.dark-theme {
  --background-color: #121212;
  --text-color: white;
  --button-text-color: white;
  --text-expert-color: #ff9900;
}

body.light-theme {
  --background-color: white;
  --text-color: black;
  --button-text-color: black;
  --text-expert-color: #000715;
}

body {
  font-family: 'Press Start 2P', monospace;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 100% !important;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**
  * Common styles
  */

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.timer-display {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-message {
  color: white;
  font-size: 1em;
  opacity: 0.6;
}
